.cartWrapper {
  background: url('/light-grey-terrazzo.webp') top left repeat;
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: -20vh;
  transition: all .5s ease-out;
  visibility: hidden;

  &.open {
    right: 0;
    transition: all .5s ease-out;
    visibility: visible;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 99;
  }

  .checkoutButton {
    background: rgba(212, 17, 17, 0.7);
    box-shadow: 0 4px 4px 1px rgba(0,0,0,.5);
    margin-top: 1rem;
    display: grid;
    justify-self: stretch;
    text-align: center;

    &.disabled {
      pointer-events: none;
      opacity: .4;
    }
  }
}

.headerWrapper {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--color-black-dark)
}

.cartHeading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.8;
  text-decoration: underline;
}

.cartClose {
  padding: 1rem .5rem;
}

.cartItems {
  list-style-type: none;

  .cartItem {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    padding: 1rem 0;

    .itemTitle {
      font-weight: bold;
    }

    .itemPrice {
      font-weight: bold;
      text-align: right;
    }

    .removeButton {
      padding: .5rem;
    }
  }
}

.cartTotals {
  border-top: 4px solid var(--color-black-dark);
  padding-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;

  .label {
    font-weight: bold;
  }

  .total {
    font-weight: bold;
    text-align: right;
  }
}

@media(min-width: 992px) {
  .cartWrapper {
    right: -40vw;
    top: 0;
    width: 400px;

    &.open {
      box-shadow: -8px 0 8px rgba(0,0,0,.5);
    }
  }
}