.cartListWrapper {
  background: var(--color-white);
  padding: 1rem;
  border: 3px solid var(--color-black-dark);
  outline: 4px solid var(--color-black-dark);

  .cartItemWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;

    h4:last-child {
      text-align: right;
    }
  }

  .totalsWrapper {
    border-top: 2px solid var(--color-black-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;

    h4:last-child {
      text-align: right;
    }
  }
}
